/**
 * FOR HOME
 */


.logo {
    background: url(./img/logo.png) no-repeat;
}

// for sprite demo
.demo-sprite {
    background: url(./img/logo.png?_gm_sprite) no-repeat;
    width: 50px;
    height: 50px;
}


.demo-inline {
    // if you want use inline-base64, 
    // add `?_gm_inline` after img url
}

.header {
    width: 600px;
    margin: 0 auto;
    text-align: center;

    p {
        text-align: center;
    }
}

.more-info {
    margin-top: 20px;
    border: 1px dashed #8EB139;
    padding: 20px;
    background-color: #FFAA89;
    border-radius: 8px;

    h3 {
        color: white;
    }
    a {
        text-decoration: none;
    }
    ul li {
        line-height: 30px;
    }
}

.demo-container {
    margin-top: 30px;
    border: 1px dashed #8EB139;
    padding: 20px;
    background-color: #5B9EB2;
    border-radius: 8px;

    ol li p {
        color: #14581F;
        text-shadow: 2px 2px 2px #9A9A9A;
    }

    h3 {
        color: white;
    }

}